
<ion-content>
  <img src="../../assets/miranha.jpg">
  <div class="caixa1">
  <ion-item>
    <ion-label>QTD CIGARROS/DIA</ion-label>
    <ion-input type="number" [(ngModel)]="cigarrosPorDia" placeholder="Ex: 5"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>QTD ANOS FUMANDO</ion-label>
    <ion-input type="number" [(ngModel)]="anosFumando" placeholder="Ex: 10"></ion-input>
  </ion-item>
</div>
  <ion-button (click)="calcular()">Calcular</ion-button>
  <div class="caixa"><h3>Você perdeu:</h3>
  <h1>{{diasPerdidos.toFixed(0)}} dias</h1></div>
</ion-content>